body {
	margin: 0;
	padding: 0;
	color: #e5e5e5;
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #0E0C0C;
	line-height: 16px;
	min-width: 890px;
}
a {
	font-weight: bold;
	color: #e5e5e5;
}
a:hover {
	color: #f2f2f2;
}
.emph {
	font-weight: bold;
	font-style: italic;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
.container, .content {
	background: top center no-repeat;/* #0E0C0C;*/
}
.container {
	overflow-x: hidden;
}
.content {
	width: 890px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.text {
	width: 855px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.button {
	position: absolute;
	background-position: bottom;
}
.button:hover {
	background-position: top;
}
.video {
    width: 854px;
    height: 480px;
    left: 19px;
    top: 423px;
    position: absolute;
}
#legal {
	position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 30px;
    width: 888px;
    height: 30px;
    display: block;
    background-image: url("../images/fl_legal.png");
}