body {
	margin: 0;
	padding: 0;
	color: #e5e5e5;
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #0E0C0C;
	line-height: 16px;
	min-width: 890px;
}
a {
	font-weight: bold;
	color: #e5e5e5;
}
a:hover {
	color: #f2f2f2;
}
.emph {
	font-weight: bold;
	font-style: italic;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold;
}
.container, .content {
	background: top center no-repeat;/* #0E0C0C;*/
}
.container {
	overflow-x: hidden;
}
.content {
	width: 890px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
}
.text {
	width: 855px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}
.button {
	position: absolute;
	background-position: bottom;
}
.button:hover {
	background-position: top;
}
.video {
    width: 855px;
    height: 480px;
    left: 19px;
    top: 423px;
    position: absolute;
}
#legal {
	position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 30px;
    width: 888px;
    height: 30px;
    display: block;
    background-image: url("../images/legal.png");
}

/* Content images */

#container_1, #content_1 {
	height: 1080px;
	background-image: url(../images/fl_webpage_main_bg1.jpg);
}

#container_2, #content_2 {
	height: 1280px;
	background-image: url(../images/fl_webpage_main_bg2.jpg);
}

#container_3, #content_3 {
	height: 1440px;
	background-image: url(../images/fl_webpage_main_bg3.jpg);
}

#container_4, #content_4 {
	height: 1570px;
	background-image: url(../images/fl_webpage_main_bg4.jpg);
}

#container_5, #content_5 {
	height: 1030px;
	background-image: url(../images/fl_webpage_main_bg5.jpg);
}

#container_6, #content_6 {
	height: 1680px;
	background-image: url(../images/fl_webpage_main_bg6.jpg);
}

#container_7, #content_7 {
	height: 1710px;
	background-image: url(../images/fl_webpage_main_bg7.jpg);
}

/* Text positioning */

#welcome {
	top:208px;
}
#supply {
    top: 851px;
    left: 362px;
    width: 530px;
    margin: 0;
}
#join {
	color: #2f2c2b;
    margin: 0;
    top: 151px;
    left: 59px;
    width: 420px;
}
#map {
	margin: 0;
    top: 157px;
    left: 124px;
    width: 320px;
}
#faq {
	top: 223px;
    width: 826px;
    margin: 0;
    left: 37px;
    line-height: 18px;
}
.question {
	font-weight: bold;
	margin-top:18px;
}
.question:first-child {
	margin-top:auto;
}
.answer {
	margin-top:18px;
	margin-left:35px;
}
#more {
    bottom: 140px;
    margin: 0;
    left: auto;
    width: 380px;
    right: 39px;
    line-height: 18px;
}

/* Buttons */

#tf {
	background-image: url(../images/fl_webpage_final_button_tf.jpg);
	width: 228px;
	height: 64px;
	left: 155px;
	top: 55px;
}
#pack {
	background-image: url(../images/fl_webpage_final_button_pack.jpg);
	width:275px;
	height: 275px;
	left: 650px;
	top: 1117px;
}
#dl1 {
	background-image: url(../images/fl_webpage_final_button_dl1.jpg);
	width: 637px;
	height: 64px;
	left: 127px;
	top: 463px;
}
#dl2 {
	background-image: url(../images/fl_webpage_final_button_dl2.jpg);
	width: 704px;
	height: 64px;
	left: 101px;
	top: 534px;
}
#collection {
	background-image: url(../images/fl_webpage_final_button_collection.jpg);
	width: 672px;
	height: 64px;
	left: 112px;
	top: 605px;
}
#steam {
	background-image: url(../images/fl_webpage_final_button_steam.jpg);
	width: 128px;
	height: 42px;
	left: 122px;
	top: 922px;
}
#tf2m {
	background-image: url(../images/fl_webpage_final_button_tf2m.jpg);
	width: 140px;
	height: 42px;
	left: 262px;
	top: 922px;
}
#facepunch {
	background-image: url(../images/fl_webpage_final_button_facepunch.jpg);
	width: 162px;
	height: 42px;
	left: 421px;
	top: 922px;
}
#polycount {
	background-image: url(../images/fl_webpage_final_button_polycount.jpg);
	width: 162px;
	height: 42px;
	left: 604px;
	top: 922px;
}
#battleship {
	background-image: url(../images/fl_webpage_final_button_battleship.jpg);
	width: 220px;
	height: 184px;
	top: 944px;
    right: -176px;
}

/* Credits */

#credits {
    position: absolute;
    top: 295px;
    width: 776px;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#credits > .row {
	width: inherit;
    height: 56px;
    margin-bottom: 4px;
    position: relative;
    float: left;
}
.steam {
	position: relative;
    float: left;
    margin-right: 4px;
    padding: 4px;
    border-radius: 6px;
    text-align: left;
    width: 248px;
    height: 48px;
}
.steam:hover {
	background: rgba(183,124,10,0.15);
    /*background: rgba(0,0,0,0.2);*/
}
.row:first-child .steam:nth-child(2):hover {
	background: rgba(0,0,0,0.2);
}
.row:nth-child(2) .steam:nth-child(odd):hover {
	background: rgba(0,0,0,0.2);
}
.steam:last-child {
    margin: 0 auto;
    float: none;
    display: inline-block;
}
.iconholder {
    background: #b77c0a;
    height: 40px;
    width: 40px;
    padding: 4px;
    float: left;
    border-radius: 3px;
}
.iconholder > img {
	width: 40px;
	height: 40px;
}
.name {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 58px);
    color: #b77c0a;
    padding-left: 10px;
    line-height: 24px;
    width: 190px;
    font-size: 18px;
    position: relative;
    float: left;
    overflow: hidden;
    font-weight: bold;
}
.name.no_role {
    line-height: 72px;
}
.role {
    position: relative;
    float: left;
    line-height: 24px;
    max-width: 190px;
    max-height: 24px;
    padding-left: 10px;
    font-size: 12px;
    overflow: hidden;
    color: lightgoldenrodyellow;
}
.role.long {
    line-height: 12px;
}