/* Content images */

#container_1, #content_1 {
	height: 1080px;
	background-image: url(../images/fl_webpage_main_bg1.jpg);
}

#container_2, #content_2 {
	height: 1280px;
	background-image: url(../images/fl_webpage_main_bg2.jpg);
}

#container_3, #content_3 {
	height: 1440px;
	background-image: url(../images/fl_webpage_main_bg3.jpg);
}

#container_4, #content_4 {
	height: 1570px;
	background-image: url(../images/fl_webpage_main_bg4.jpg);
}

#container_5, #content_5 {
	height: 1030px;
	background-image: url(../images/fl_webpage_main_bg5.jpg);
}

#container_6, #content_6 {
	height: 1680px;
	background-image: url(../images/fl_webpage_main_bg6.jpg);
}

#container_7, #content_7 {
	height: 1710px;
	background-image: url(../images/fl_webpage_main_bg7.jpg);
}

.video {
	left: 19px;
    top: 423px;
    position: absolute;
}

/* Text positioning */

#welcome {
	top:208px;
}
#supply {
    top: 851px;
    left: 362px;
    width: 530px;
    margin: 0;
}
#join {
	color: #2f2c2b;
    margin: 0;
    top: 151px;
    left: 59px;
    width: 420px;
}
#map {
	margin: 0;
    top: 157px;
    left: 124px;
    width: 320px;
}
#faq {
	top: 223px;
    width: 826px;
    margin: 0;
    left: 37px;
    line-height: 18px;
}
.question {
	font-weight: bold;
	margin-top:18px;
}
.question:first-child {
	margin-top:auto;
}
.answer {
	margin-top:18px;
	margin-left:35px;
}
#more {
    bottom: 140px;
    margin: 0;
    left: auto;
    width: 380px;
    right: 39px;
    line-height: 18px;
}

/* Buttons */

#tf {
	background-image: url(../images/fl_webpage_final_button_tf.jpg);
	width: 228px;
	height: 64px;
	left: 155px;
	top: 55px;
}
#update {
	background-image: url(../images/fl_webpage_final_button_update.png);
	width: 222px;
	height: 61px;
	right: 17px;
	top: 30px;
}
#pack {
	background-image: url(../images/fl_webpage_final_button_pack.jpg);
	width:275px;
	height: 275px;
	left: 650px;
	top: 1117px;
}
#dl1 {
	background-image: url(../images/fl_webpage_final_button_dl1.jpg);
	width: 637px;
	height: 64px;
	left: 127px;
	top: 463px;
}
#dl2 {
	background-image: url(../images/fl_webpage_final_button_dl2.jpg);
	width: 704px;
	height: 64px;
	left: 101px;
	top: 534px;
}
#collection {
	background-image: url(../images/fl_webpage_final_button_collection.jpg);
	width: 672px;
	height: 64px;
	left: 112px;
	top: 605px;
}
#steam {
	background-image: url(../images/fl_webpage_final_button_steam.jpg);
	width: 128px;
	height: 42px;
	left: 122px;
	top: 922px;
}
#tf2m {
	background-image: url(../images/fl_webpage_final_button_tf2m.jpg);
	width: 140px;
	height: 42px;
	left: 262px;
	top: 922px;
}
#facepunch {
	background-image: url(../images/fl_webpage_final_button_facepunch.jpg);
	width: 162px;
	height: 42px;
	left: 421px;
	top: 922px;
}
#polycount {
	background-image: url(../images/fl_webpage_final_button_polycount.jpg);
	width: 162px;
	height: 42px;
	left: 604px;
	top: 922px;
}
#easteregg {
	background-image: url(../images/fl_webpage_final_button_easteregg.jpg);
	width: 220px;
	height: 184px;
	top: 944px;
    right: -176px;
}
#modstf {
	background-image: url(../images/fl_webpage_final_button_modstf.jpg);
	width: 150px;
	height: 45px;
    bottom: 825px;
    left: 370px;
}

/* Credits */

#credits {
    position: absolute;
    top: 295px;
    width: 776px;
    text-align: center;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#credits > .row {
	width: inherit;
    height: 56px;
    margin-bottom: 4px;
    position: relative;
    float: left;
}
.steam {
	position: relative;
    float: left;
    margin-right: 4px;
    padding: 4px;
    border-radius: 6px;
    text-align: left;
    width: 248px;
    height: 48px;
}
.steam:hover {
	background: rgba(183,124,10,0.15);
}
.steam:last-child {
    margin: 0 auto;
    float: none;
    display: inline-block;
}
.steam:nth-last-child(2):first-child {
	margin-left: auto;
    float: none;
    display: inline-block;
}
.iconholder {
    background: #b77c0a;
    height: 40px;
    width: 40px;
    padding: 4px;
    float: left;
    border-radius: 3px;
}
.iconholder > img {
	width: 40px;
	height: 40px;
}
.name {
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: calc(100% - 58px);
    color: #fbce6a;
    padding-left: 10px;
    line-height: 24px;
    width: 190px;
    font-size: 18px;
    position: relative;
    float: left;
    overflow: hidden;
    font-weight: bold;
}
.role {
    position: relative;
    float: left;
    line-height: 24px;
    max-width: 190px;
    max-height: 24px;
    padding-left: 10px;
    font-size: 12px;
    overflow: hidden;
    color: #b77c0a;
}
.role.long {
    line-height: 12px;
}